<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johannes.playground">

    <!-- Normal permissions -->
    <!-- Dangerous permissions -->
    <!-- Used features -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITIES -->

        <activity android:name=".PgActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PgActivityImplicitIntents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityIntents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivitySendIntentExtras"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityReceiveIntentExtras"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityActivities"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityLifecycle"
            android:exported="false" />
        <activity
            android:name=".PgActivityViews"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityPersistance"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityData"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityParseJSON"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivitySharedPreferences"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityFiles"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityFragmentLifecycle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityControlFlow"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityToast"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityNotification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityIntentRequest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgActivityIntentRequestSelection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PgActivityIntentReceiver"
            android:screenOrientation="portrait">
            <intent-filter>
                <data android:scheme="http" android:host="www.gbif.org"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PgActivityDialog"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PgActivityPicker"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>