<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johannes.playground">

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous permissions -->
    <!-- TODO request permission at runtime -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Used features -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITIES -->

        <activity android:name=".PgActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intents.PgActivityImplicitIntents"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intents.PgActivityIntents"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intents.PgActivitySendIntentExtras"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intents.PgActivityReceiveIntentExtras"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PgActivityActivities"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PgActivityLifecycle"
            android:exported="false" />

        <activity
            android:name=".views.PgActivityViews"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.PgActivityListView"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".persistance.PgActivityPersistance"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.PgActivityData"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.PgActivityParseJSON"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".persistance.sharedpreferences.PgActivitySharedPreferences"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".persistance.PgActivityFiles"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PgActivityFragmentLifecycle"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.PgActivityControlFlow"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.PgActivityUser"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.PgActivityToast"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.PgActivityNotification"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intents.PgActivityIntentRequest"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intents.PgActivityIntentRequestSelection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".intents.PgActivityIntentReceiver"
            android:screenOrientation="portrait">
            <intent-filter>
                <data android:scheme="http" android:host="www.gbif.org"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".user.PgActivityDialog"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.PgActivityPicker"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.networking.PgActivityNetworking"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.PgActivityFloatingActionButton"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.PgActivityMultithreading"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.PgActivityMultithreadingHandlers"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PgActivityRetainedFragment"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.PgActivityResume"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.PgActivityWorkHistory"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.PgActivityLoader"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.PgActivityExamples"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.higherlower.PgActivityHigherLower"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.numbershapes.PgActivityNumberShapes"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.tictactoe.PgActivityTicTacToe"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.PgActivityAnimations"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.PgActivityVideo"
            android:exported="false" />

        <activity
            android:name=".user.PgActivityAudio"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.phrasebook.PgActivityPhraseBook"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.timestables.PgActivityTimesTables"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".architecture.PgActivityArchitecture"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".architecture.timer.PgActivityTimer"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".navigation.PgActivityNavigation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".navigation.tabs.PgActivityTabs"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.eggtimer.PgActivityEggTimer"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.sumtrainer.PgActivitySumTrainer"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.networking.PgActivityDownloadString"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.networking.PgActivityDownloadImage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.celebrityguess.PgActivityCelebrityGuess"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.weatherjson.PgActivityWeatherJSON"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".data.location.PgActivityLocation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".data.location.PgActivityBasicMap"
            android:label="@string/title_activity_pg_basic_map" />

        <activity
            android:name=".data.location.PgActivityLocationAwareness"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".examples.hikerwatch.PgActivityHikerWatch"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".persistance.PgActivitySQLDatabase"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.webview.PgActivityWebview"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>